{% extends 'common/layout.twig' %}
{% set active = 'terminal' %}
{% block title %}Terminal info{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Terminal</h2>
            <p>Содержит таблицу терминалов с информацией о их подразделений:</p>
            <a href="/form" class="btn btn-info" role="button">Create Terminal</a>
        </div>
    </div>

{% include 'index/_list.twig' with {'result': result} %}
</div>

{% endblock %}
